:root {
  --black: #18191A;
  --white: #E7E9ED;
  --orange: #F5841D;
  --gray: #303031;
  --font-primary: "Lilita One", cursive;
  --font-secondary: "Roboto Slab", serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  margin: 0 10rem;
  font-family: var(--font-primary);
  font-size: 1.6rem;
  color: var(--black);
  font-weight: 300;
  line-height: 1.6;
  overflow-x: hidden;
  display: grid;
}
@media only screen and (max-width: 50em) {
  body {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 50em) {
  body > * {
    padding: 0 3rem;
  }
}

.nav {
  position: static;
  padding: 3rem 0;
  font-family: var(--font-secondary);
  z-index: 2000;
  display: grid;
  grid-column-gap: 5rem;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
}
@media only screen and (max-width: 68.75em) {
  .nav {
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
  }
}
.nav > * {
  cursor: pointer;
}
.nav__logo {
  font-size: 2rem;
  transition: all 0.2s;
}
.nav__logo:hover {
  color: var(--black);
}
.nav__list {
  list-style: none;
  display: grid;
  justify-items: center;
  justify-self: stretch;
  grid-template-columns: repeat(4, minmax(5rem, 1fr));
  grid-auto-flow: column;
}
@media only screen and (max-width: 68.75em) {
  .nav__list {
    display: none;
  }
}
.nav__burger {
  position: relative;
  height: 5px;
  width: 25px;
  background: var(--black);
  display: none;
  z-index: 5;
}
@media only screen and (max-width: 68.75em) {
  .nav__burger {
    display: block;
  }
}
.nav__burger__background {
  position: fixed;
  height: 40px;
  width: 40px;
  background: var(--orange);
  z-index: 1;
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}
.nav__burger::after, .nav__burger::before {
  content: "";
  display: block;
  height: 5px;
  width: 25px;
  background: var(--black);
}
.nav__burger::before {
  transform: translateY(-8px);
}
.nav__burger::after {
  transform: translateY(3px);
}
.nav__link {
  color: var(--black);
  text-decoration: none;
}
.nav__link:hover {
  color: var(--orange);
  transition: all 0.2s;
}
@media only screen and (max-width: 68.75em) {
  .nav button {
    grid-column: 2/3;
  }
}

.pop-up {
  position: fixed;
  display: grid;
  align-content: start;
  justify-content: center;
  background: var(--black);
  height: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  z-index: 2000;
  color: var(--white);
}
.pop-up__list {
  list-style: none;
  display: grid;
  grid-auto-rows: repeat(4, min-content);
  margin-top: 7rem;
  grid-row-gap: 3rem;
}
.pop-up__list a {
  font-family: var(--font-secondary);
  font-size: 4rem;
  color: var(--white);
}

.abs-form {
  position: fixed;
  display: grid;
  align-content: center;
  justify-content: center;
  background: transparent;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  z-index: 2000;
  transition: all 0.2s;
}
.abs-form__content {
  background: var(--white);
  height: 46rem;
  width: 40rem;
  border-radius: 20%;
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(2, minmax(min-content, 1fr));
}
.abs-form__content__img {
  background: var(--orange);
  display: grid;
  align-content: center;
  justify-content: center;
}
.abs-form__content__img img {
  width: 22rem;
}
.abs-form__content__content {
  text-align: center;
  display: grid;
  justify-content: center;
  grid-auto-rows: min-content;
  grid-gap: 1rem;
}
.abs-form__content__content .heading-3 {
  width: 100%;
}
.abs-form__content__content .heading-5 {
  font-family: var(--font-secondary);
  width: 100%;
}
.abs-form__content__content form {
  display: grid;
  grid-row-gap: 2rem;
  justify-items: center;
}
.abs-form__content__content form button {
  transition: all;
  visibility: hidden;
  opacity: 0;
  padding: 1rem 4rem;
}
.abs-form__content__content form button:hover {
  background: var(--black);
}
.abs-form__content__content form button:hover .spinnerText {
  color: var(--orange);
}
.abs-form__content__content form button svg {
  display: none;
}
.abs-form__content__content form input {
  padding: 1rem;
  border-radius: 1rem;
  justify-self: stretch;
}

.cta {
  text-decoration: none;
  color: var(--white);
  border: none;
  background: var(--orange);
  padding: 1.5rem 2rem;
  border-radius: 11px;
  cursor: pointer;
  transition: all 0.2s;
}
.cta:hover {
  color: var(--orange);
  background: var(--black);
}

* {
  padding: 0;
  margin: 0;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  margin-bottom: 20rem;
}
@media only screen and (max-width: 56.25em) {
  .main {
    text-align: center;
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: minmax(min-content, 60rem) minmax(min-content, max-content);
  }
}
.main__content {
  padding-top: 10rem;
  display: grid;
  grid-row-gap: 3rem;
}
@media only screen and (max-width: 56.25em) {
  .main__content {
    grid-row: 2/3;
  }
}
.main__content .heading-3 {
  width: 70%;
}
@media only screen and (max-width: 56.25em) {
  .main__content .heading-3 {
    width: 100%;
  }
}
.main__content .heading-5 {
  width: 70%;
}
@media only screen and (max-width: 56.25em) {
  .main__content .heading-5 {
    width: 100%;
  }
}
.main__content .cta {
  justify-self: start;
}
@media only screen and (max-width: 56.25em) {
  .main__content .cta {
    justify-self: center;
  }
}
.main__content .socmed {
  justify-self: start;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 3.6rem;
}
@media only screen and (max-width: 50em) {
  .main__content .socmed {
    justify-self: center;
  }
}
.main__content .socmed > *:hover {
  cursor: pointer;
  filter: invert(62%) sepia(40%) saturate(3672%) hue-rotate(349deg) brightness(100%) contrast(93%);
}
.main__img {
  position: relative;
  height: 100%;
  display: grid;
  grid-column-gap: 5rem;
}
.main__img > * {
  z-index: -2;
  position: absolute;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.main__img--1 {
  top: -10rem;
  width: 30rem;
}
@media only screen and (max-width: 75em) {
  .main__img--1 {
    left: -50px;
  }
}
@media only screen and (max-width: 56.25em) {
  .main__img--1 {
    top: 0;
    left: 13vw;
  }
}
@media only screen and (max-width: 50em) {
  .main__img--1 {
    left: 0;
    right: 0;
    margin: auto;
    clip-path: none;
  }
}
.main__img--2 {
  width: 90%;
  left: 250px;
  width: 30rem;
}
@media only screen and (max-width: 75em) {
  .main__img--2 {
    left: 205px;
  }
}
@media only screen and (max-width: 68.75em) {
  .main__img--2 {
    left: 169px;
  }
}
@media only screen and (max-width: 56.25em) {
  .main__img--2 {
    left: auto;
    right: 13vw;
  }
}
@media only screen and (max-width: 50em) {
  .main__img--2 {
    display: none;
  }
}

.heading-3 {
  width: 70%;
  font-size: 4rem;
}

.heading-4 {
  font-weight: 300;
  font-size: 3.5rem;
  font-family: var(--font-secondary);
}

.heading-5 {
  color: var(--gray);
  font-family: var(--font-secondary);
  width: 70%;
  font-size: 1.4rem;
}

.heading-6 {
  color: var(--gray);
  font-family: var(--font-secondary);
  width: 70%;
  font-size: 1.2rem;
  font-weight: 300;
}

span {
  color: var(--orange);
}

.valorant {
  font-family: "VALORANT", sans-serif;
}

.projects {
  display: grid;
  grid-template-rows: min-content min-content minmax(min-content, 43rem);
  grid-row-gap: 2rem;
  margin-bottom: 10rem;
}
.projects__gallery {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 10rem;
  grid-template-columns: repeat(auto-fill, minmax(50rem, 1fr));
  grid-auto-rows: 30rem;
}
@media only screen and (max-width: 31.25em) {
  .projects__gallery {
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  }
}
.projects figure {
  align-self: stretch;
  position: relative;
  box-shadow: -12px 12px 7px -4px rgba(184, 172, 172, 0.43);
}
.projects__image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  filter: brightness(70%);
}
.projects__image:hover ~ .abs-caption {
  visibility: visible;
  opacity: 1;
  top: 10%;
}
.projects__caption {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}
.projects .abs-caption {
  color: var(--white);
  position: absolute;
  left: 50%;
  top: -20%;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.2s;
  width: max-content;
}
@media only screen and (max-width: 31.25em) {
  .projects .abs-caption {
    font-size: 2.5rem;
  }
}

.skills {
  margin-bottom: 10rem;
  display: grid;
  grid-template-rows: min-content min-content minmax(min-content, 70rem);
  text-align: center;
  justify-items: center;
}
.skills .heading-3 {
  width: 100%;
}
.skills__gallery {
  align-self: end;
  display: grid;
  grid-column-gap: 12rem;
  grid-row-gap: 5rem;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  grid-auto-rows: 30rem;
  align-items: center;
  transition: all 0.2s;
}
@media only screen and (max-width: 77.45em) {
  .skills__gallery {
    margin-top: 4rem;
  }
}
.skills__gallery > *:hover {
  transform: translateY(2rem);
}
.skills figure {
  position: relative;
}
.skills figure:nth-child(3) img, .skills figure:nth-child(8) img {
  width: 75%;
}
@media only screen and (max-width: 77.45em) {
  .skills figure:nth-child(3) img, .skills figure:nth-child(8) img {
    width: 55%;
  }
}
.skills__image {
  width: 100%;
  max-height: 100%;
}
@media only screen and (max-width: 77.45em) {
  .skills__image {
    width: 66%;
  }
}
.skills__caption {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 0;
  width: 100%;
  visibility: hidden;
  top: 0;
  transition: all 0.1s;
}
.skills__captionContent {
  font-family: var(--font-secondary);
  color: var(--white);
  position: absolute;
  top: 164px;
  left: 73px;
}

.about-me {
  margin-bottom: 10rem;
  display: grid;
  grid-row-gap: 2rem;
}
@media only screen and (max-width: 68.75em) {
  .about-me {
    text-align: center;
  }
}
@media only screen and (max-width: 31.25em) {
  .about-me {
    margin-top: 10rem;
  }
}
@media only screen and (max-width: 68.75em) {
  .about-me .heading-3 {
    width: 100%;
  }
}
.about-me__container {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
}
@media only screen and (max-width: 68.75em) {
  .about-me__container {
    grid-template-columns: none;
  }
}
.about-me__content {
  text-align: center;
  font-family: var(--font-secondary);
}
.about-me__img {
  position: relative;
  display: grid;
}
@media only screen and (max-width: 68.75em) {
  .about-me__img {
    display: none;
  }
}
.about-me__img img {
  justify-self: center;
  height: 100%;
  width: 70%;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.abs-square {
  z-index: -1;
  position: absolute;
  top: 271px;
  left: 25px;
  height: 25rem;
  width: 25rem;
  clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
  transform: rotate(45deg);
  background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
}

.footer {
  font-size: 1.2rem;
  padding: 5rem;
  font-family: var(--font-secondary);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  grid-row-gap: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .footer {
    justify-items: center;
    grid-template-columns: none;
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    grid-row-gap: 5rem;
  }
}
.footer__logo {
  cursor: pointer;
  font-size: 2rem;
  transition: all 0.2s;
}
.footer__logo:hover {
  color: var(--orange);
}
.footer__list {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 2rem;
  list-style: none;
  justify-items: end;
}
@media only screen and (max-width: 56.25em) {
  .footer__list {
    grid-row: 2/3;
  }
}
.footer__link {
  text-decoration: none;
  cursor: pointer;
}
.footer__link:hover {
  color: var(--orange);
  transition: all 0.2s;
}
.footer__copyright {
  justify-self: end;
  grid-column: 2/3;
}
@media only screen and (max-width: 56.25em) {
  .footer__copyright {
    grid-row: 3/4;
    grid-column: 1/2;
    justify-self: center;
  }
}
